
h1{
    text-align: center;
}

table{
    width: 100%;
    border-collapse: separate;
    border: rgb(6, 218, 233) 1px solid;
    box-shadow:4px 4px 1px#8a8a8a;
}

.rojo{
    color: red;
}

.celda1{
    background-color: lightgreen;
}

.celda2{
    background-color: aqua;
    text-align: left;
}

.celda6{
    background-color: rgb(245, 130, 210);
}

.tabla, th{
    border: rgb(6, 218, 233) 1px solid;

}
.tabla, td{
    border: rgb(6, 218, 233) 1px solid;
}